DATABASE_URL=mongodb://localhost:27017/payload-dpo
PAYLOAD_SECRET=YOUR_SECRET_HERE
PAYGATE_ID=10011072130
PAYGATE_KEY=secret
BASE_URL=http://localhost:3000 # Preferably an https url for DPO not to be mad
